.navh {
    height: 170px;
}

.img-logo {
    margin-top: 5px;
}

.menu {
    margin-top: 50px;
}

.img-div {
    height: 280px;
    border-radius: 10%;
}

.idd {
    color: black;
}

.paragraph {
    text-align: justify;
    font-family: cursive;
    font-size: 15px;
}

h4 {
    font-family: cursive;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}